.gradle
/local.properties
/.idea/workspace.xml
*.DS_Store
# Intellij project files
*.iml
*.ipr
*.iws
.idea/
# Local configuration file (sdk path, etc)
local.properties

dump-dates.txt
articles
index.html
enwikivoyage-*-pages-articles.xml
wikivoyage-dump_*

